.cart {
  box-shadow: 0px 0px 5px gray;
  background-color: #eaeaea42;
  border-radius: 10px;
  overflow: hidden;
}
.MainCart {
  margin-top: 15vh;
}

.darkblue {
  color: var(--text-color);
}

.cartProduct > .darkblue {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

.cartItem > h5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartItem {
  border-bottom: 2px solid gray;

  display: grid;
  padding: 10px;
  margin: 0 2rem 1rem;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.RemoveItemCart {
  position: relative;
}
.RemoveItemCart > p {
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.RemoveItemCart > p:hover {
  cursor: pointer;
}
.cartProduct {
  display: grid;
  height: 8vmax;
  grid-template-columns: 1fr 2fr;
  position: relative;
}
.cartItemImg {
  position: relative;
}
.cartProduct > .cartItemImg > img {
  height: 8vmax;
  width: 8vmax;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity > button {
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  color: white;
  transition: 0.5s;
  background: #288ed6;
}
.quantity > button:hover {
  background: #1a6499;
}
.quantity > input {
  text-align: center;
  margin: 2px;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  background-color: #fafafa;
}
.subtotal > h4:nth-child(2) {
  text-align: end;
}
.subtotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem 0 0 0;
  margin: 0.8rem 0 0 0;
}

.subtotal > h3:nth-child(2) {
  text-align: end;
}
.Checkout {
  float: right;
  background: #288ed6;
  transition: 0.5s;
  margin-top: 2rem;
  border: none;
  color: white;
  padding: 0.4vmax 4vmax;
}
.Checkout:hover {
  background: #1a6499;
}

.DivideCart {
  display: grid;
  grid-template-columns: 4fr 1fr;

  height: 70vh;
  grid-column-gap: 2rem;
}
.checkout {
  padding: 0 0vmax 2vmax 2vmax;

  border-left: 1px solid gray;
}
.cartSubTotal {
  font-weight: 400;
}
.selectPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectPrice > select {
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: #f1f3f5;
  color: gray;
}
.selectPrice > select > option {
  outline: none;
  border: none;
  border-radius: 10px;
}

@media only screen and (max-width: 360px) {
  .checkout {
    border: none;
    margin-top: 2rem;
  }
  .cartSubTotal {
    text-align: right;
  }
  .DivideCart {
    grid-template-columns: 1fr;
  }
  .cartItem {
    margin: 0 1rem 0;
    font-size: 60%;
    column-gap: 5px;
    grid-template-columns: 4fr 1fr 1fr 1fr;
  }
  .cartItem > h5 {
    font-size: 1rem;
    margin: 0;
  }
  .quantity > button {
    width: 1rem;
    height: 1rem;
  }
  .FooterItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .FooterTitle {
    font-size: 1.5rem;
  }
}
