.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}
.loading > div {
  position: relative;
  border-radius: 100%;
  box-shadow: 0px 0px 10px black;
}
.loading > div > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid rgba(0, 0, 0, 0.719);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.logo > img {
  width: 100%;
}
@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
